* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text-up {
    text-transform: uppercase;
}

.header {
    background: #F1E4E6;
}

.menu_background {
    background: #222222;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: #222222;
    height: 75px;
}

.header_menu_logo {
    display: flex;
    align-items: flex-end;
}

.header_menu_navigation {
    display: flex;
    align-items: flex-end;
}   

.menu_list {
    position: relative;
    list-style-type: none;
    padding: 20px 17px;
}

.menu_list:hover .mega_box {
visibility: visible;
opacity: 1;
transform: translateY(0);
}

.mega_box {
    width: 230px;
    padding: 11px 35px 35px;
    background: #FFFFFF;
    position: absolute;
    top: 67px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .4s ease;
}

.menu_heading {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 24px;
}

.mega_link {
    display: block;
    color: #6F6E6E;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    padding-top: 12px;
    margin-left: 20px;
}

.mega_link:hover {
    color: #F16D7F;
}

.brand_square {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 16px;
}

.pink {
    color: #F16D7F;
}

.card_box {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    flex-wrap: wrap;
}

.card {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
}

.card_info {
    padding: 25px 28px 20px 16px;
}

.heading_mini {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card_text {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
    padding-bottom: 18px;
}

.card_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.footer {
    margin-top: 95px;
    background: #222224;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding: 104px 0;
    text-align: center;
}

.footer_heading {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 25px;
    padding-bottom: 16px;
}

.footer_text {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.subscribe {
    background-image: url(img/subscribe_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe_container {
    height:  448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.subscribe_left {
    width: 360px;
}

.subscribe_text {
    padding-top: 38px;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.subscribe_right{
    width: 400px;
    padding-right: 100px;
}

.subscribe_heading {
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.subscribe_right_text {
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    padding-bottom: 32px;
}

.subscribe_form {
    display: flex;
    justify-content: center;
    height: 49px;
    padding: 0;
}

.input {
    display: block;
    background: #E1E1E1;
    width: 256px;
    margin: 0;
    text-indent: 15px;
    border-radius: 24px 0 0 24px;
    border: 1px solid #E1E1E1;
    color: #222224;
    opacity: 0.67; 
}

.subscribe_button {
    display: block;
    width: 100px;
    background: #F16D7F; 
    border-radius: 0 24px 24px 0;
    border: 1px solid #F16D7F;
    color: #FFFFFF; 
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.allrights {
    font-size: 16px;
    line-height: 79px;
    color: #FBFBFB;
}

.icons {
    display: flex;
    align-items: center;
}

.bottomAncor {
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 7px;
    text-align: center;
    color: black;
}

.bottomAncor:hover {
    background: #F16D7F;
    color: #FFFFFF;
}





